*/.env
.env
/testing
test.html
test.php
VJS-pr01/data_upload/
assets/svg_file/
assets/template/
jig_db_new/trash
assets/css/test.html
VJS-pr01/test
*/cache
4.cache/
1.asset/external_library
1.asset/js_old
1.asset/index_old.js
/3.utility/old