/*========================================================
loading view
========================================================*/ 

@keyframes loading {
	0% {
		transform: rotate(0deg); 
	}
	50% {
		transform: rotate(180deg); 
	}
	100% {
		transform: rotate(360deg); 
	}
}

.loading {
	width: 8rem; 
	height: 8rem;
  position: absolute;
  top: 44%;
  left: 44%;
	animation: loading 1.8s linear infinite; 
	background: url('../../assets/svg_file/solar_line/star-1-svgrepo-com.svg');
	background-size: cover; 
}

@keyframes loading2 {
	0% {
		transform: rotate(0deg); 
	}
	50% {
		transform: rotate(180deg); 
	}
	100% {
		transform: rotate(360deg); 
	}
}

.loading2 {
	width: 3rem; 
	height: 3rem;
	animation: loading2 2s linear infinite; 
	background: url('../../assets/svg_file/solar_line/star-1-svgrepo-com.svg');
	background-size: cover; 
}


@keyframes load_txt {
  0% {
    content: "load";
  }
  25% {
    content: "load .";
  }
  50% {
    content: "load . .";
  }
  75% {
    content: "load . . .";
  }
}

.load_txt::before {
  content: "load";
  animation: load_txt 2s linear infinite;
  display: inline-block;
  color: white;
}

.load_txt {
  color: white;
}

@keyframes proses {
  0%, 50% {
    content: "proses";
  }
  25%, 75% {
    content: "";
  }
}

.proses::before {
  content: "proses";
  animation: proses 2s linear infinite;
  display: inline-block;
  color: black;
}

.proses {
  color: black;
}


.search_icon {
  background: url('../../assets/svg_file/magni/magnifier-svgrepo-com.svg');
  background-size: cover; 
  opacity: 50%;
  width: 1.2rem; 
	height: 1.2rem;
  border: none;
  margin-top: 1.1rem;
  transition-duration: 200ms;
  transform: translateX(3.2rem);
  cursor: pointer;
  border-radius: 50%;
}

.search_icon:hover {
  width: 1.3rem; 
	height: 1.3rem;
  opacity: 100%;
  box-shadow: 3px 3px 2px 1px rgba( 0, 0, 0, .2);
}