/*
blue color 
*/
.bl1 {background-color:#031633;}
.bl2 {background-color:#052c65;}
.bl3 {background-color:#084298;}
.bl4 {background-color:#0a58ca;}
.bl5 {background-color:#0d6efd;}
.bl6 {background-color:#3d8bfd;}
.bl7 {background-color:#6ea8fe;}
.bl8 {background-color:#9ec5fe;}
.bl9 {background-color:#cfe2ff;}

/*
teal color 
*/
.tl1 {background-color:#06281e}
.tl2 {background-color:#0d503c}
.tl3 {background-color:#13795b}
.tl4 {background-color:#1aa179}
.tl5 {background-color:#20c997}
.tl6 {background-color:#44d4ac}
.tl7 {background-color:#79dfc1}
.tl8 {background-color:#a6e9d5}
.tl9 {background-color:#d2f4ea}

/*
slate color 
*/
.sl1 {background-color:#1c1f2b;}
.sl2 {background-color:#2c3040;}
.sl3 {background-color:#3c4254;}
.sl4 {background-color:#4c5468;}
.sl5 {background-color:#5c677d;}
.sl6 {background-color:#6c7991;}
.sl7 {background-color:#7c8ca6;}
.sl8 {background-color:#8c9fba;}
.sl9 {background-color:#9cb2cf;}

/*
orange color 
*/
.or1 {background-color:#6e4c00;}
.or2 {background-color:#8e6400;}
.or3 {background-color:#b37a00;}
.or4 {background-color:#d89100;}
.or5 {background-color:#ffaa00;}
.or6 {background-color:#ffb333;}
.or7 {background-color:#ffbb66;}
.or8 {background-color:#ffc999;}
.or9 {background-color:#ffd4b3;}

/*
red color 
*/
.rd1 {background-color:#6e0000;}
.rd2 {background-color:#8e0000;}
.rd3 {background-color:#b30000;}
.rd4 {background-color:#d80000;}
.rd5 {background-color:#ff0000;}
.rd6 {background-color:#ff3333;}
.rd7 {background-color:#ff6666;}
.rd8 {background-color:#ff9999;}
.rd9 {background-color:#ffb3b3;}


/*
=================================================================
hover
=================================================================
blue color 
*/
.hv-bl1:hover {transition-duration: 300ms; background-color:#031633;}
.hv-bl2:hover {transition-duration: 300ms; background-color:#052c65;}
.hv-bl3:hover {transition-duration: 300ms; background-color:#084298;}
.hv-bl4:hover {transition-duration: 300ms; background-color:#0a58ca;}
.hv-bl5:hover {transition-duration: 300ms; background-color:#0d6efd;}
.hv-bl6:hover {transition-duration: 300ms; background-color:#3d8bfd;}
.hv-bl7:hover {transition-duration: 300ms; background-color:#6ea8fe;}
.hv-bl8:hover {transition-duration: 300ms; background-color:#9ec5fe;}
.hv-bl9:hover {transition-duration: 300ms; background-color:#cfe2ff;}

/*
teal color 
*/
.hv-tl1:hover {transition-duration: 300ms; background-color:#06281e}
.hv-tl2:hover {transition-duration: 300ms; background-color:#0d503c}
.hv-tl3:hover {transition-duration: 300ms; background-color:#13795b}
.hv-tl4:hover {transition-duration: 300ms; background-color:#1aa179}
.hv-tl5:hover {transition-duration: 300ms; background-color:#20c997}
.hv-tl6:hover {transition-duration: 300ms; background-color:#44d4ac}
.hv-tl7:hover {transition-duration: 300ms; background-color:#79dfc1}
.hv-tl8:hover {transition-duration: 300ms; background-color:#a6e9d5}
.hv-tl9:hover {transition-duration: 300ms; background-color:#d2f4ea}

/*
slate color 
*/
.hv-sl1:hover {transition-duration: 300ms; background-color:#1c1f2b;}
.hv-sl2:hover {transition-duration: 300ms; background-color:#2c3040;}
.hv-sl3:hover {transition-duration: 300ms; background-color:#3c4254;}
.hv-sl4:hover {transition-duration: 300ms; background-color:#4c5468;}
.hv-sl5:hover {transition-duration: 300ms; background-color:#5c677d;}
.hv-sl6:hover {transition-duration: 300ms; background-color:#6c7991;}
.hv-sl7:hover {transition-duration: 300ms; background-color:#7c8ca6;}
.hv-sl8:hover {transition-duration: 300ms; background-color:#8c9fba;}
.hv-sl9:hover {transition-duration: 300ms; background-color:#9cb2cf;}

/*
orange color 
*/
.hv-or1:hover {transition-duration: 300ms; background-color:#6e4c00;}
.hv-or2:hover {transition-duration: 300ms; background-color:#8e6400;}
.hv-or3:hover {transition-duration: 300ms; background-color:#b37a00;}
.hv-or4:hover {transition-duration: 300ms; background-color:#d89100;}
.hv-or5:hover {transition-duration: 300ms; background-color:#ffaa00;}
.hv-or6:hover {transition-duration: 300ms; background-color:#ffb333;}
.hv-or7:hover {transition-duration: 300ms; background-color:#ffbb66;}
.hv-or8:hover {transition-duration: 300ms; background-color:#ffc999;}
.hv-or9:hover {transition-duration: 300ms; background-color:#ffd4b3;}

/*
red color 
*/
.hv-rd1:hover {transition-duration: 300ms;  background-color:#6e0000;}
.hv-rd2:hover {transition-duration: 300ms;  background-color:#8e0000;}
.hv-rd3:hover {transition-duration: 300ms;  background-color:#b30000;}
.hv-rd4:hover {transition-duration: 300ms;  background-color:#d80000;}
.hv-rd5:hover {transition-duration: 300ms;  background-color:#ff0000;}
.hv-rd6:hover {transition-duration: 300ms;  background-color:#ff3333;}
.hv-rd7:hover {transition-duration: 300ms;  background-color:#ff6666;}
.hv-rd8:hover {transition-duration: 300ms;  background-color:#ff9999;}
.hv-rd9:hover {transition-duration: 300ms;  background-color:#ffb3b3;}



/* ================================================================== */
.f-blk{color: black;}
.f-wht{color: white;}

/*
font blue color 
*/
.f-bl1 {color:#031633;}
.f-bl2 {color:#052c65;}
.f-bl3 {color:#084298;}
.f-bl4 {color:#0a58ca;}
.f-bl5 {color:#0d6efd;}
.f-bl6 {color:#3d8bfd;}
.f-bl7 {color:#6ea8fe;}
.f-bl8 {color:#9ec5fe;}
.f-bl9 {color:#cfe2ff;}

/*
teal color 
*/
.f-tl1 {color:#06281e}
.f-tl2 {color:#0d503c}
.f-tl3 {color:#13795b}
.f-tl4 {color:#1aa179}
.f-tl5 {color:#20c997}
.f-tl6 {color:#44d4ac}
.f-tl7 {color:#79dfc1}
.f-tl8 {color:#a6e9d5}
.f-tl9 {color:#d2f4ea}

/*
slate color 
*/
.f-sl1 {color:#1c1f2b;}
.f-sl2 {color:#2c3040;}
.f-sl3 {color:#3c4254;}
.f-sl4 {color:#4c5468;}
.f-sl5 {color:#5c677d;}
.f-sl6 {color:#6c7991;}
.f-sl7 {color:#7c8ca6;}
.f-sl8 {color:#8c9fba;}
.f-sl9 {color:#9cb2cf;}

/*
orange color 
*/
.f-or1 {color:#6e4c00;}
.f-or2 {color:#8e6400;}
.f-or3 {color:#b37a00;}
.f-or4 {color:#d89100;}
.f-or5 {color:#ffaa00;}
.f-or6 {color:#ffb333;}
.f-or7 {color:#ffbb66;}
.f-or8 {color:#ffc999;}
.f-or9 {color:#ffd4b3;}

/*
red color 
*/
.f-rd1 {color:#6e0000;}
.f-rd2 {color:#8e0000;}
.f-rd3 {color:#b30000;}
.f-rd4 {color:#d80000;}
.f-rd5 {color:#ff0000;}
.f-rd6 {color:#ff3333;}
.f-rd7 {color:#ff6666;}
.f-rd8 {color:#ff9999;}
.f-rd9 {color:#ffb3b3;}


/* ================================================================== */
.b-White1 {border: azure;}
.bt-White1 {border-top: azure 3px solid;}
.bb-White1 {border-bottom: azure 3px solid;}