/*
hover zoom
*/
.hz {
    transform: scale(1); 
    transition: transform 0.3s ease; 
}
.hz>span {
  transform: scale(1); 
  transition: transform 0.3s ease; 
}

.hz:hover {
  transform: scale(1.2); 
}

.hz:hover>span {
  transform: scale(1.2); 
}

/*
hover scale
*/
.scale-120 {transition: transform 300ms ease-in-out; transform: scale(1);} 
.scale-120:hover {transition: transform 300ms ease-in-out; transform: scale(1.2) }

/*
hover move
*/

.move-y1 {transition: transform 300ms ease;}
.move-y1:hover {transition: transform 300ms ease; transform: translateY(0.1rem);}

.move-y2 {transition: transform 300ms ease;}
.move-y2:hover {transition: transform 300ms ease; transform: translateY(0.2rem);}

.move-x1 {transition: transform 300ms ease;}
.move-x1:hover {transition: transform 300ms ease; transform: translateX(0.1rem);}

.move-x2 {transition: transform 300ms ease;}
.move-x2:hover {transition: transform 300ms ease; transform: translateX(0.2rem);}




.move-x2 {
  transition: transform 0.2s ease; /* Adding a transition for a smooth effect */
}
.move-x2:hover {
  transform: translateX(0.1rem);
}
/*
svg
*/
.button_plus {
  background-image: url('../svg_file/plus min/add-plus-svgrepo-com.svg');
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 3vh;
  height: 3vh;
  border: none;
  cursor: pointer;
  padding: 0 1em 1.5rem 0;
  margin: .5em;
}

.button_plus_m {
  background-image: url('../svg_file/plus min/add-plus-svgrepo-com.svg');
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 2.5vh;
  height: 2.5vh;
  border: none;
  cursor: pointer;
  padding: 0 .3em .2em 0;
  margin: .2em .4em;
}

.button_plus_sml {
  background-image: url('../svg_file/plus min/add-plus-svgrepo-com.svg');
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 2vh;
  height: 2vh;
  border: none;
  cursor: pointer;
  padding: 0 .2em .1em 0;
  margin: .1em .2em;
}

.button_minus {
  background-image: url('../svg_file/plus min/substract-minus-svgrepo-com.svg');
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 3vh;
  height: 3vh;
  border: none;
  cursor: pointer;
  padding: 0 1em 1.5rem 0;
  margin: .5em;
}

.button_minus_m {
  background-image: url('../svg_file/plus min/substract-minus-svgrepo-com.svg');
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 2.5vh;
  height: 2.5vh;
  border: none;
  cursor: pointer;
  padding: 0 .3em .2em 0;
  margin: .2em .4em;
}

.button_minus_sml {
  background-image: url('../svg_file/plus min/substract-minus-svgrepo-com.svg');
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 2vh;
  height: 2vh;
  border: none;
  cursor: pointer;
  padding: 0 .2em .1em 0;
  margin: .1em .2em;
}

.home {
  background-image: url('../svg_file/home/home-2-svgrepo-com.svg');
  background-size: cover;
  background-color: transparent;
  width: 3vh;
  height: 3vh;
  border: none;
  cursor: pointer;
}

.home2 {
  background-image: url('../svg_file/home/home-alt-1-svgrepo-com.svg');
  background-size: cover;
  background-color: rgba( 255, 255, 255, 1);
  border-radius: 30%;
  width: 5vh;
  height: 5vh;
  border: none;
  cursor: pointer;
  justify-content: center;
}

.check {
  background-image: url('../svg_file/sign/checkGreen.svg');
  background-size: cover;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 5vh;
  height: 5vh;
  border: none;
  margin: 0 1em 1.5em 2em;
  cursor: pointer;
}

.cross {
  background-image:  url('../svg_file/sign/cross-svgrepo-com.svg');
  background-size: cover;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 5vh;
  height: 5vh;
  border: none;
  margin: 0 1em 1.5em 2em;
  cursor: pointer;
}

.editBtn {
  background-image:  url('../svg_file/edit/edit-pen-write-1-svgrepo-com.svg');
  background-size: cover;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  width: 3vh;
  height: 3vh;
  border: none;
  margin: 0 1em 0 2em;
  cursor: pointer;
}

.editBtn_m {
  background-image:  url('../svg_file/edit/edit-pen-write-1-svgrepo-com.svg');
  background-size: cover;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  width: 2.5vh;
  height: 2.5vh;
  border: none;
  margin: 0 1em 0 2em;
  cursor: pointer;
}

.editBtn_sml {
  background-image:  url('../svg_file/edit/edit-pen-write-1-svgrepo-com.svg');
  background-size: cover;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  width: 2vh;
  height: 2vh;
  border: none;
  margin: 0 1em 0 2em;
  cursor: pointer;
}

.enter {
  background-image: url('../svg_file/enter/enter-outline-svgrepo-com.svg');
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-color: azure;
  width: 3vh;
  height: 3vh;
  border: none;
  border-radius: 20%;
  cursor: pointer;
  padding: 0 .3em .2em 0;
  margin: .2em .4em;
}

.enter_m {
  background-image: url('../svg_file/enter/enter-outline-svgrepo-com.svg');
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-color: azure;
  width: 2.5vh;
  height: 2.5vh;
  border: none;
  cursor: pointer;
  padding: 0 .3em .2em 0;
  margin: .2em .4em;
}

.enter_sml {
  background-image: url('../svg_file/enter/enter-outline-svgrepo-com.svg');
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-color: azure;
  width: 2vh;
  height: 2vh;
  border: none;
  cursor: pointer;
  padding: 0 .2em .1em 0;
  margin: .1em .2em;
}
/*========================================================
loading view
========================================================*/ 

@keyframes loading {
	0% {
		transform: rotate(0deg); 
	}
	50% {
		transform: rotate(180deg); 
	}
	100% {
		transform: rotate(360deg); 
	}
}

.loading {
	width: 8rem; 
	height: 8rem;
  position: absolute;
  top: 44%;
  left: 44%;
	animation: loading 1.8s linear infinite; 
	background: url('../../assets/svg_file/solar_line/star-1-svgrepo-com.svg');
	background-size: cover; 
}

@keyframes loading2 {
	0% {
		transform: rotate(0deg); 
	}
	50% {
		transform: rotate(180deg); 
	}
	100% {
		transform: rotate(360deg); 
	}
}

.loading2 {
	width: 3rem; 
	height: 3rem;
	animation: loading2 2s linear infinite; 
	background: url('../../assets/svg_file/solar_line/star-1-svgrepo-com.svg');
	background-size: cover; 
}


@keyframes load_txt {
  0% {
    content: "load";
  }
  25% {
    content: "load .";
  }
  50% {
    content: "load . .";
  }
  75% {
    content: "load . . .";
  }
}

.load_txt::before {
  content: "load";
  animation: load_txt 2s linear infinite;
  display: inline-block;
  color: white;
}

.load_txt {
  color: white;
}

@keyframes proses {
  0%, 50% {
    content: "proses";
  }
  25%, 75% {
    content: "";
  }
}

.proses::before {
  content: "proses";
  animation: proses 2s linear infinite;
  display: inline-block;
  color: black;
}

.proses {
  color: black;
}


.search_icon {
  background: url('../../assets/svg_file/magni/magnifier-svgrepo-com.svg');
  background-size: cover; 
  opacity: 50%;
  width: 1.2rem; 
	height: 1.2rem;
  border: none;
  margin-top: 1.1rem;
  transition-duration: 200ms;
  transform: translateX(3.2rem);
  cursor: pointer;
  border-radius: 50%;
}

.search_icon:hover {
  width: 1.3rem; 
	height: 1.3rem;
  opacity: 100%;
  box-shadow: 3px 3px 2px 1px rgba( 0, 0, 0, .2);
}