/*
blue color 
*/
.bl1 {
    background-color:HSL(210, 100%, 18%);
}

.bl2 {
    background-color:HSL(202, 100%, 25%);
}

.bl3 {
    background-color:HSL(202, 100%, 35%);
}

.bl4 {
    background-color:HSL(202, 100%, 45%);   
}

.bl5 {
    background-color:HSL(202, 100%, 50%);
}

.bl6 {
    background-color:HSL(202, 100%, 65%);
}

.bl7 {
    background-color:HSL(202, 100%, 75%);
}

.bl8 {
    background-color:HSL(202, 100%, 85%);   
}

.bl9 {
    background-color:HSL(202, 100%, 95%);   
}


/*
teal color 
*/
.tl1 {
    background-color:HSL(180, 100%, 18%);
}

.tl2 {
    background-color:HSL(180, 100%, 25%);
}

.tl3 {
    background-color:HSL(180, 100%, 35%);
}

.tl4 {
    background-color:HSL(180, 100%, 45%);   
}

.tl5 {
    background-color:HSL(180, 100%, 50%);
}

.tl6 {
    background-color:HSL(180, 100%, 65%);
}

.tl7 {
    background-color:HSL(180, 100%, 75%);
}

.tl8 {
    background-color:HSL(180, 100%, 85%);   
}

.tl9 {
    background-color:HSL(180, 100%, 95%);   
}


/*
slate color 
*/
.sl1 {
    background-color:HSL(210, 22%, 18%);
}

.sl2 {
    background-color:HSL(210, 22%, 25%);
}

.sl3 {
    background-color:HSL(210, 22%, 35%);
}

.sl4 {
    background-color:HSL(210, 22%, 45%);   
}

.sl5 {
    background-color:HSL(210, 22%, 50%);
}

.sl6 {
    background-color:HSL(210, 22%, 65%);
}

.sl7 {
    background-color:HSL(210, 22%, 75%);
}

.sl8 {
    background-color:HSL(210, 22%, 85%);   
}

.sl9 {
    background-color:HSL(210, 22%, 95%);   
}


/*
orange color 
*/
.or1 {
    background-color:HSL(40, 100%, 18%);
}

.or2 {
    background-color:HSL(40, 100%, 25%);
}

.or3 {
    background-color:HSL(40, 100%, 35%);
}

.or4 {
    background-color:HSL(40, 100%, 45%);   
}

.or5 {
    background-color:HSL(40, 100%, 50%);
}

.or6 {
    background-color:HSL(40, 100%, 65%);
}

.or7 {
    background-color:HSL(40, 100%, 75%);
}

.or8 {
    background-color:HSL(40, 100%, 85%);   
}

.or9 {
    background-color:HSL(40, 100%, 95%);   
}


/*
red color 
*/
.rd1 {
    background-color:HSL(8, 100%, 18%);
}

.rd2 {
    background-color:HSL(8, 100%, 25%);
}

.rd3 {
    background-color:HSL(8, 100%, 35%);
}

.rd4 {
    background-color:HSL(8, 100%, 45%);   
}

.rd5 {
    background-color:HSL(8, 100%, 50%);
}

.rd6 {
    background-color:HSL(8, 100%, 65%);
}

.rd7 {
    background-color:HSL(8, 100%, 75%);
}

.rd8 {
    background-color:HSL(8, 100%, 85%);   
}

.rd9 {
    background-color:HSL(8, 100%, 95%);   
}
