.cl1 {display: flex; width: 8.33vw;}
.cl2 {display: flex; width: 16.67vw;}
.cl3 {display: flex; width: 25vw;}
.cl4 {display: flex; width: 33.33vw;}
.cl5 {display: flex; width: 41.67vw;}
.cl6 {display: flex; width: 50vw;}
.cl7 {display: flex; width: 58.33vw;}
.cl8 {display: flex; width: 66.67vw;}
.cl9 {display: flex; width: 75vw;}
.cl10 {display: flex; width: 83.33vw;}
.cl11 {display: flex; width: 91.67vw;}
.cl12 {display: flex; width: 100vw;}