/*
text input 
*/
.inpText1 {
    width: 35rem;
    height: 2.5rem;
    border-radius: 5rem;
    margin: .5rem;
    padding: 0 1rem;
    font-size: 1.1rem;
}

.inpText1::placeholder {
    font-size: 1.3rem;
    padding: 0 1rem;
}

.inpText2 {
  width: 35rem;
  height: 2.5rem;
  border-radius: 5rem;
  margin: .5rem;
  padding: 0 3rem;
  font-size: 1.1rem;
}

.inpText2::placeholder {
  font-size: 1.3rem;
  padding: 0 1rem;
}

.inpText3 {
  width: 12rem;
  height: 1.6rem;
  border-radius: 5rem;
  padding: 0 1rem;
  font-size: .9rem;
}

.inpText3::placeholder {
  font-size: 1.3rem;
  padding: 0 1rem;
}

/*
button
*/
.btnS {
    width: 10rem;
    height: 1.5rem;
}

.btn1 {
  appearance: none;
  border-radius: 15px;
  font-size: medium;
  text-align: center;
  padding: .3rem 0;
  height: 3vh;
  width: 8vw;
  border: 1px hsl(0°, 0%, 40%) solid;
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-color: hsl(0°, 0%, 70%);
}

.btn1:disabled {
  pointer-events: none;
  color: gray;
  background-color: hsl(0°, 0%, 40%);
}

.btn1:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn1:active {
  box-shadow: none;
  transform: translateY(0);
}



/*

*/
.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: .8rem 0;
  min-width: 0;
  outline: none;
  padding: .2rem 0 1.6rem 0;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;

  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: .8rem 0;
  min-width: 0;
  outline: none;
  padding: .2rem 0 1.6rem 0;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}
  
.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}