.custom_scroll {
    overflow: hidden;
}

.scrollable {
    overflow: auto;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform:uppercase;
}

.home {
    background-image: url('./symbol/home/home-2-svgrepo-com.svg');
    background-size: cover;
    cursor: pointer;
  }

.magnifier {
    background-image: url('./symbol/magni/magni_default.svg');
    background-size: cover;
    cursor: pointer;
  }

.open {
    background-image: url('./symbol/open_detail.svg');
    background-size: cover;
    cursor: pointer;
}

.hide {
    background-image: url('./symbol/hide_detail.svg');
    background-size: cover;
    cursor: pointer;
}
  
.plus {
    background-image: url('./symbol/plus min/add-plus-svgrepo-com.svg');
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
}

.minus {
    background-image: url('./symbol/plus min/minus_btn_non_color.svg');
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
}

.minus_red {
    background-image: url('./symbol/plus min/substract-minus-svgrepo-com.svg');
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
}

@keyframes loading {
    0% {
        transform: rotate(0deg); 
    }
    50% {
        transform: rotate(180deg); 
    }
    100% {
        transform: rotate(360deg); 
    }
}

.loading {
    width: 8rem; 
    height: 8rem;
    position: absolute;
    top: 44%;
    left: 44%;
    animation: loading 1.8s linear infinite; 
    background: url('./symbol/solar_line/star-1-svgrepo-com.svg');
    background-size: cover; 
}