@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500&display=swap');

:root{
  --black:#191919;
  --white:#fafaff;
  --gray: #B1BDC2;
  --satu: #FAF7B0;
  --dua:#C63939;
  --tiga: #B5F1FF;
  --empat:#436CFF;
  --lima:#FFA467;
  --enam: #FF4747;
  --bg:#ECECEC;
  --sidewidth: 10vw;
  --mainwidth: 90vw;
}

body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
  }

*, *::before, *::after {
  box-sizing: border-box;
}

.secondtopudate {
    display: sticky;
    width: var(--mainwidth);
    padding-left: 1.2rem;
}

.topudate {
    display: sticky;
    height: 10vh;
    width: var(--mainwidth);
    background-color: var(--gray);
    padding-left: 1.2rem;
    border-bottom: #a1a1a1 .3rem solid;
    overflow-y: scroll;
}

.card1 {
  padding-top: .7rem;
  width: 10vw;
  margin-bottom: 1rem;
}

.card2 {
  width: 30vw;
  height: 4vh;
  margin-bottom: 1rem;
}

.card3 {
  width: 15vw;
  height: 3vh;
}

.card3::placeholder{
  font-size: medium;
  text-align: center;
}

.update-table {
  width: 50vw;
}

.wrap_updt {
  width: 90vw;
}